@import '../utils/styles/index.less';

.urp-input-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: var(--urp-font-gray-1);
  --input-size-related-height: 14px; 
  &-size-normal {
    font-size: 14px;
    --input-size-related-height: 14px
  }
  &-size-small {
    font-size: 12px;
    --input-size-related-height: 12px
  }
  &-size-large {
    font-size: 16px;
    --input-size-related-height: 16px
  }
  transition: all .1s ease-in-out;
}

.urp-input-up {
  border: 1px solid var(--urp-font-gray-3);
  position: relative;
  display: flex;
  align-items: center;
  max-width: inherit;
  &-shape-rect {
    border-radius: 4px;
  }
  &-shape-round {
    border-radius: 100vh;
  }
  &-size-normal {
    padding: 6px;
  }
  &-size-small {
    padding: 4px;
  }
  &-size-large {
    padding: 8px;
  }
  &:hover {
    border: 1px solid var(--urp-primary-color-hover);
  }
  &:focus {
    border: 1px solid var(--urp-primary-color);
  }
  &-disabled {
    cursor: not-allowed;
    color: var(--urp-font-gray-3) !important;
    background-color: var(--urp-bg-gray-7) !important;
    &:hover {
      border: 1px solid var(--urp-font-gray-3) !important;
    }
  }
  &-readonly {
    cursor: pointer;
    &:hover {
      border: 1px solid var(--urp-font-gray-3) !important;
    }
  }
}

.urp-input-children {
  margin-right: 4px;
  flex: 0 0 auto;
}

.urp-input-down {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 12px;
  color: var(--urp-font-gray-2);
}

.urp-input {
  background-color: transparent;
  color: var(--urp-font-gray-1);
  flex: 1 1 auto;
  min-width: 0;
  font-size: inherit;
  /* 清除浏览器默认外观（部分类型生效） */
  -webkit-appearance: none; /* 针对webkit内核（Chrome/Safari） */
  -moz-appearance: none; /* 针对Firefox */
  appearance: none;
}

.urp-input-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &>span {
    margin-left: 8px;
  }
  flex: 0 0 auto;
  height: var(--input-size-related-height); 
}

.urp-close-icon {
  color: var(--urp-font-gray-3) !important;
  cursor: pointer;
  &:hover {
    color: var(--urp-font-gray-2) !important;
  }
  font-size: inherit;
}

.urp-number-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  &>span {
    line-height: 1;
    cursor: pointer;
    color: var(--urp-font-gray-3) !important;
    &:hover {
      color: var(--urp-font-gray-2) !important;
    }
  }
  .urp-number-icon-up {
    margin-bottom: -2px;
  }
  .urp-number-icon-down {
     margin-top: -2px; 
  }
}

.urp-count {
  display: flex;
}

.urp-input-disabled {
  cursor: not-allowed;
  color: var(--urp-font-gray-2);
}

.urp-input-readonly {
  cursor: pointer;
}

