@import '../utils/styles/index.less';

.u-input-container {
  display: flex;
  flex-direction: column;
  width: 120px;
  color: var(--u-font-gray-1);
  --input-size-related-height: 14px; 
  &-size-normal {
    font-size: 14px;
    width: 120px;
    // height: 30px;
    --input-size-related-height: 14px
  }
  &-size-small {
    font-size: 12px;
    width: 100px;
    // height: 28px;
    --input-size-related-height: 12px
  }
  &-size-large {
    font-size: 16px;
    width: 140px;
    // height: 32px;
    --input-size-related-height: 16px
  }
}

.u-input-container-autoWidth {
  width: auto;
}

.u-input-up {
  border: 1px solid var(--u-gray-color-4);
  position: relative;
  display: flex;
  align-items: center;
  max-width: inherit;
  background-color: white;
  &-shape-rect {
    border-radius: 4px;
  }
  &-shape-round {
    border-radius: 100vh;
  }
  &-size-normal {
    padding: 6px;
  }
  &-size-small {
    padding: 4px;
  }
  &-size-large {
    padding: 8px;
  }
  &:hover {
    border: 1px solid var(--u-primary-color-hover);
  }
  &-disabled {
    cursor: not-allowed;
    color: var(--u-font-gray-3) !important;
    background-color: var(--u-bg-gray-7) !important;
    &:hover {
      border: 1px solid var(--u-gray-color-4) !important;
    }
  }
  &-readonly {
    cursor: pointer;
    &:hover {
      border: 1px solid var(--u-gray-color-4) !important;
    }
  }
  transition: all .2s ease-in-out;
}

.u-input-up-isFocused {
  box-shadow: 0 0 2px 2px var(--u-primary-color-disabled);
  border: 1px solid var(--u-primary-color);
}

.u-input-up-borderless {
  border: none !important
}

.u-input-children {
  margin-right: 4px;
  flex: 0 0 auto;
}

.u-input-down {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 12px;
  color: var(--u-font-gray-2);
}

.u-input {
  background-color: transparent;
  color: var(--u-font-gray-1);
  flex: 1 1 auto;
  min-width: 0;
  font-size: inherit;
  /* 清除浏览器默认外观（部分类型生效） */
  -webkit-appearance: none; /* 针对webkit内核（Chrome/Safari） */
  -moz-appearance: none; /* 针对Firefox */
  appearance: none;
}

.u-input-align-left {
  text-align: left;
}

.u-input-align-center {
  text-align: center;
}

.u-input-align-right {
  text-align: right;
}

.u-input-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &>span {
    margin-left: 8px;
  }
  flex: 0 0 auto;
  height: var(--input-size-related-height); 
}

.u-close-icon {
  color: var(--u-font-gray-3) !important;
  cursor: pointer;
  &:hover {
    color: var(--u-font-gray-2) !important;
  }
  font-size: inherit;
}

.u-number-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  &>span {
    line-height: 1;
    cursor: pointer;
    color: var(--u-font-gray-3) !important;
    &:hover {
      color: var(--u-font-gray-2) !important;
    }
  }
  .u-number-icon-up {
    margin-bottom: -2px;
  }
  .u-number-icon-down {
     margin-top: -2px; 
  }
}

.u-count {
  display: flex;
}

.u-input-disabled {
  cursor: not-allowed;
  color: var(--u-font-gray-2);
}

.u-input-readonly {
  cursor: pointer;
}

