@import '../utils/styles/index.less';

.urp-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
  transition: all .1s ease-in-out;
  overflow: hidden;
  z-index: 0;
}

.urp-button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.urp-button-disabled {
  cursor: not-allowed;
}

.define-urp-button-variant(
  @border-style: solid,
  @border-color: var(--urp-primary-color),
  @border-color-hover: var(--urp-primary-color-hover),
  @border-color-active: var(--urp-primary-color-active),
  @conten-color: var(--urp-primary-color),
  @content-color-hover: var(--urp-primary-color-hover),
  @content-color-active: var(--urp-primary-color-active),
  @background-color: transparent,
  @background-color-hover: transparent,
  @background-color-active: var(--urp-primary-color-light)
) {
  border: 1px @border-style @border-color;
  color: @conten-color;
  background-color: @background-color;
  &:hover {
    border: 1px @border-style @border-color-hover;
    color: @content-color-hover;
    background-color: @background-color-hover;
  }
  &:active {
    border: 1px @border-style @border-color-active;
    color: @content-color-active;
  }
  .urp-button-active-bg {
    position: absolute;
    top: calc(var(--relativeY) * 1px);
    left: calc(var(--relativeX) * 1px);
    animation: active-bg .25s ease-in forwards;
    background-color: @background-color-active;
    border-radius: 100vh;
    z-index: 1;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
  }

  @keyframes active-bg {
    from {
      width: 0;
    }
    to {
      width: 200%;
    }
  }
}

/* 基础样式 */
.urp-button-variant-base.urp-button-theme-default {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-gray-1),
    var(--urp-font-gray-1),
    var(--urp-font-gray-1),
    var(--urp-default-color),
    var(--urp-default-color-hover),
    var(--urp-default-color-active)
  );
}

.urp-button-variant-base.urp-button-theme-primary {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-primary-color),
    var(--urp-primary-color-hover),
    var(--urp-primary-color-active)
  );
}

.urp-button-variant-base.urp-button-theme-warning {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-warning-color),
    var(--urp-warning-color-hover),
    var(--urp-warning-color-active)
  );
}

.urp-button-variant-base.urp-button-theme-success {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-success-color),
    var(--urp-success-color-hover),
    var(--urp-success-color-active)
  );
}

.urp-button-variant-base.urp-button-theme-error {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-error-color),
    var(--urp-error-color-hover),
    var(--urp-error-color-active)
  );
}

/* 虚线边框 */
.urp-button-variant-dashed.urp-button-theme-default {
  .define-urp-button-variant(
    dashed,
    var(--urp-font-gray-2),
    var(--urp-font-gray-3),
    var(--urp-font-gray-1),
    var(--urp-font-gray-2),
    var(--urp-font-gray-3),
    var(--urp-font-gray-1),
    transparent,
    transparent,
    var(--urp-default-color-light)
  );
}

.urp-button-variant-dashed.urp-button-theme-primary {
  .define-urp-button-variant(dashed);
}

.urp-button-variant-dashed.urp-button-theme-warning {
   .define-urp-button-variant(
    dashed,
    var(--urp-warning-color),
    var(--urp-warning-color-hover),
    var(--urp-warning-color-active),
    var(--urp-warning-color),
    var(--urp-warning-color-hover),
    var(--urp-warning-color-active),
    transparent,
    transparent,
    var(--urp-warning-color-light)
  );
}

.urp-button-variant-dashed.urp-button-theme-success {
   .define-urp-button-variant(
    dashed,
    var(--urp-success-color),
    var(--urp-success-color-hover),
    var(--urp-success-color-active),
    var(--urp-success-color),
    var(--urp-success-color-hover),
    var(--urp-success-color-active),
    transparent,
    transparent,
    var(--urp-success-color-light)
  );
}

.urp-button-variant-dashed.urp-button-theme-error {
   .define-urp-button-variant(
    dashed,
    var(--urp-error-color),
    var(--urp-error-color-hover),
    var(--urp-error-color-active),
    var(--urp-error-color),
    var(--urp-error-color-hover),
    var(--urp-error-color-active),
    transparent,
    transparent,
    var(--urp-error-color-light)
  );
}

/* 实线边框 */
.urp-button-variant-outline.urp-button-theme-default {
  .define-urp-button-variant(
    solid,
    var(--urp-font-gray-2),
    var(--urp-font-gray-3),
    var(--urp-font-gray-1),
    var(--urp-font-gray-2),
    var(--urp-font-gray-3),
    var(--urp-font-gray-1),
    transparent,
    transparent,
    var(--urp-default-color-light)
  );
}


.urp-button-variant-outline.urp-button-theme-primary {
  .define-urp-button-variant();
}

.urp-button-variant-outline.urp-button-theme-warning {
  .define-urp-button-variant(
    solid,
    var(--urp-warning-color),
    var(--urp-warning-color-hover),
    var(--urp-warning-color-active),
    var(--urp-warning-color),
    var(--urp-warning-color-hover),
    var(--urp-warning-color-active),
    transparent,
    transparent,
    var(--urp-warning-color-light)
  );
}

.urp-button-variant-outline.urp-button-theme-success {
  .define-urp-button-variant(
    solid,
    var(--urp-success-color),
    var(--urp-success-color-hover),
    var(--urp-success-color-active),
    var(--urp-success-color),
    var(--urp-success-color-hover),
    var(--urp-success-color-active),
    transparent,
    transparent,
    var(--urp-success-color-light)
  );
}

.urp-button-variant-outline.urp-button-theme-error {
  .define-urp-button-variant(
    solid,
    var(--urp-error-color),
    var(--urp-error-color-hover),
    var(--urp-error-color-active),
    var(--urp-error-color),
    var(--urp-error-color-hover),
    var(--urp-error-color-active),
    transparent,
    transparent,
    var(--urp-error-color-light)
  );
}

/* 文字按钮 */
.urp-button-variant-text.urp-button-theme-default {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-font-gray-2),
    var(--urp-font-gray-3),
    var(--urp-font-gray-1),
    transparent,
    var(--urp-default-color-hover),
    var(--urp-default-color-active)
  );
}

.urp-button-variant-text.urp-button-theme-primary {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-primary-color),
    var(--urp-primary-color),
    var(--urp-primary-color),
    transparent,
    var(--urp-default-color-hover),
    var(--urp-default-color-active)
  );
}

.urp-button-variant-text.urp-button-theme-warning {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-warning-color),
    var(--urp-warning-color),
    var(--urp-warning-color),
    transparent,
    var(--urp-default-color-hover),
    var(--urp-default-color-active)
  );
}

.urp-button-variant-text.urp-button-theme-success {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-success-color),
    var(--urp-success-color),
    var(--urp-success-color),
    transparent,
    var(--urp-default-color-hover),
    var(--urp-default-color-active)
  );
}

.urp-button-variant-text.urp-button-theme-error {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-error-color),
    var(--urp-error-color),
    var(--urp-error-color),
    transparent,
    var(--urp-default-color-hover),
    var(--urp-default-color-active)
  );
}

/* 基础——禁用 */
.urp-button-variant-base.urp-button-theme-default.urp-button-disabled {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-default-color-disabled),
    var(--urp-default-color-disabled),
    var(--urp-default-color-disabled)
  );
}

.urp-button-variant-base.urp-button-theme-primary.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled)
  );
}

.urp-button-variant-base.urp-button-theme-warning.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled)
  );
}

.urp-button-variant-base.urp-button-theme-success.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled)
  );
}

.urp-button-variant-base.urp-button-theme-error.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    none,
    none,
    none,
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-font-white-1),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled)
  );
}

/* 虚线边框禁用 */
.urp-button-variant-dashed.urp-button-theme-default.urp-button-disabled {
  .define-urp-button-variant(
    dashed,
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-dashed.urp-button-theme-primary.urp-button-disabled {
  .define-urp-button-variant(
    dashed,
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-dashed.urp-button-theme-warning.urp-button-disabled {
  .define-urp-button-variant(
    dashed,
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-dashed.urp-button-theme-success.urp-button-disabled {
  .define-urp-button-variant(
    dashed,
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-dashed.urp-button-theme-error.urp-button-disabled {
  .define-urp-button-variant(
    dashed,
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

/* 实线边框禁用 */
.urp-button-variant-outline.urp-button-theme-default.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-outline.urp-button-theme-primary.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-outline.urp-button-theme-warning.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-outline.urp-button-theme-success.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-outline.urp-button-theme-error.urp-button-disabled {
  .define-urp-button-variant(
    solid,
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

/* 文字禁用 */
.urp-button-variant-text.urp-button-theme-default.urp-button-disabled {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    var(--urp-font-gray-3),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-text.urp-button-theme-primary.urp-button-disabled {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    var(--urp-primary-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-text.urp-button-theme-warning.urp-button-disabled {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    var(--urp-warning-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-text.urp-button-theme-success.urp-button-disabled {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    var(--urp-success-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

.urp-button-variant-text.urp-button-theme-error.urp-button-disabled {
  .define-urp-button-variant(
    none,
    none,
    none,
    none,
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    var(--urp-error-color-disabled),
    transparent,
    transparent,
    transparent,
  );
}

/* shape 形状类 */
.urp-button-shape-rect {
  border-radius: 4px;
}

.urp-button-shape-round {
  border-radius: 100vh;
}

/* 尺寸类 */
.urp-button-size-normal {
  padding: 4px 12px;
  font-size: 14px;
}

.urp-button-size-small {
  padding: 2px 8px;
  font-size: 12px;
}

.urp-button-size-large {
  padding: 6px 14px;
  font-size: 16px;
}

.urp-button-icon {
  font-size: inherit !important;
}

.urp-button-active-bg {
  position: absolute;
  top: calc(var(--relativeY) * 1px);
  left: calc(var(--relativeX) * 1px);
  animation: aa .3s ease-in;
  background-color: var(--urp-primary-color-active);
  border-radius: 100vh;
  z-index: 1;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
}
