@import "../utils/styles/colors/color.less";

.u-swiper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  // overflow: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  
}

.u-swiper::-webkit-scrollbar {
  display: none;
}

.u-swiper-item {
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.u-swiper-indecator {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.u-swiper-indecator-item {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 100vh;
  transition: all .2s ease-in-out;
}

.u-swiper-indecator-item-active {
  background-color: white;
  // border-color: var(--u-primary-color);
}

.u-swiper-jump-btn-prev,
.u-swiper-jump-btn-next {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  margin: 0 8px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: rgba(255, 255, 255, .4);
  }
}

.u-swiper-jump-btn-prev {
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.u-swiper-jump-btn-next {
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

