@import '../utils/styles/index.less';

@animation-time: .2s;

.urp-switch {
  box-sizing: border-box;
  position: relative;
  width: 38px;
  height: 20px;
  cursor: pointer;
  transition: all @animation-time ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation; /* 移动端 */

  &:active {
    .urp-switch-slider {
      width: 18px;
    }
    /* -4px 抵消宽度变化带来的位移 */
    .urp-switch-slider-state-open {
      left: calc(100% - 14px - 4px - 4px);
    }
  }
}

.urp-switch-size-small {
  zoom: .8;
}

.urp-switch-size-large {
  zoom: 1.15;
}

.urp-switch-shape-around {
  border-radius: 100vh;
}

.urp-switch-shape-rect {
  border-radius: 4px;
}

.urp-switch-state-open {
  background-color: var(--urp-primary-color);
}

.urp-switch-state-close {
  background-color: var(--urp-gray-color-5);
  &:hover {
    background-color: var(--urp-gray-color-6);
  }
}

.urp-switch-disabled {
  cursor: not-allowed;
  &:active {
    .urp-switch-slider {
      width: 14px;
    }
    .urp-switch-slider-state-open {
      left: calc(100% - 14px - 4px);
    }
  }
}

.urp-switch-state-close.urp-switch-disabled {
  background-color: var(--urp-gray-color-5) !important;
  &:hover {
    background-color: var(--urp-gray-color-5) !important;
  }
}

.urp-switch-state-open.urp-switch-disabled {
  background-color: var(--urp-primary-color-disabled) !important;
  &:hover {
    background-color: var(--urp-primary-color-disabled) !important;
  }
}

.urp-switch-slider {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 14px;
  height: 14px;
  transition: all @animation-time ease-in-out;
  top: 50%;
  transform: translateY(-50%); 
  background-color: white;
}

.urp-switch-slider-shape-around {
  border-radius: 100vh;
}

.urp-switch-slider-shape-rect {
  border-radius: 4px;
}

.urp-switch-slider-state-open {
  left: calc(100% - 14px - 4px);
}

.urp-switch-slider-state-close {
  left: 4px;
}

.urp-desc-inner {
  font-size: 8px;
}

.urp-desc-inner-state-open {
  color: var(--urp-primary-color);
}

.urp-desc-inner-state-close {
  color: var(--urp-font-gray-2);
}

.urp-desc-outer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%); 
  font-size: 10px;
  transition: all @animation-time ease-in-out;
}

.urp-desc-outer-state-close {
  right: 6px;
  color: var(--urp-font-gray-2);
}

.urp-desc-outer-state-open {
  right: calc(100% - 10px - 6px);
  color: var(--urp-font-white-1);
}
