@import '../utils/styles/index.less';

@animation-time: .2s;

.urp-switch {
  box-sizing: border-box;
  position: relative;
  width: 38px;
  height: 20px;
  cursor: pointer;
  transition: all @animation-time ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation; /* 移动端 */
}

.urp-switch-size-small {
  zoom: .8;
}

.urp-switch-size-large {
  zoom: 1.15;
}

.urp-switch-shape-around {
  border-radius: 100vh;
}

.urp-switch-shape-rect {
  border-radius: 4px;
}

.urp-switch-state-open {
  background-color: var(--urp-primary-color);
}

.urp-switch-state-close {
  background-color: var(--urp-gray-color-5);
  &:hover {
    background-color: var(--urp-gray-color-6);
  }
}

.urp-switch-disabled {
  cursor: not-allowed;
}

.urp-switch-state-close.urp-switch-disabled {
  opacity: .8;
  &:hover {
    background-color: var(--urp-gray-5) !important;
  }
}

.urp-switch-state-open.urp-switch-disabled {
  opacity: .8;
  &:hover {
    background-color: var(--urp-primary) !important;
  }
}

.urp-switch-slider {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 14px;
  height: 14px;
  transition: all @animation-time ease-in-out;
  top: 50%;
  transform: translateY(-50%); 
  background-color: white;
}

.urp-switch-slider-shape-around {
  border-radius: 100vh;
}

.urp-switch-slider-shape-rect {
  border-radius: 4px;
}

.urp-switch-slider-state-open {
  left: calc(100% - 14px - 4px);
  animation: slider-open-animation @animation-time ease-in-out 1;
}

.urp-switch-slider-state-close {
  left: 4px;
  animation: slider-close-animation @animation-time ease-in-out 1;
}

.urp-desc-inner {
  font-size: 8px;
  transition: all @animation-time ease-in-out;
}

.urp-desc-inner-state-open {
  color: var(--urp-primary);
}

.urp-desc-inner-state-close {
  color: var(--urp-gray-5);
}

.urp-desc-outer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%); 
  transition: all @animation-time ease-in-out;
  font-size: 10px;
}

.urp-desc-outer-state-close {
  right: 6px;
  color: var(--urp-gray-7);
}

.urp-desc-outer-state-open {
  right: calc(100% - 10px - 6px);
  color: var(--urp-white);
}

@keyframes slider-open-animation {
  0% {
    width: 14px;
  }
  50% {
    width: 22px;
  }
  100% {
    width: 14px;
  }
}

@keyframes slider-close-animation {
  0% {
    width: 14px;
  }
  50% {
    width: 22px;
  }
  100% {
    width: 14px;
  }
}
