.u-popup {
  width: fit-content;
}

.u-popup-content {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 4px;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
  // transition: all .2s ease-in-out;
  border-radius: 4px;
  border: .5px solid var(--u-gray-color-2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .05), 0 4px 5px rgba(0, 0, 0, .08), 0 2px 4px -1px rgba(0, 0, 0, .12);
  background-color: white;
  z-index: 120;
  will-change: opacity;
}

.u-popup-content-inner {
  width: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  z-index: 120;
}

// .u-popup-arrow {
//   position: absolute;
//   width: 12px;
//   height: 12px;
//   // transform: rotate(45deg) !important;
//   border: .5px solid var(--u-gray-color-2);
//   background-color: red;
//   z-index: 100;
// }

.u-popup-content-hide {
  display: none;
}
