.u-layout {
  width: 100%;
  // height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.u-layout-row {
  flex-direction: row;
}

.u-layout-head {
  width: 100%;
  height: var(--headHeight, 80px);
}

.u-layout-body {
  width: 100%;
  height: 100%;
}

.u-layout-footer {
  width: 100%;
  height: 80px;
}

.u-layout-aside {
  width: var(--AsideWidth, 200px);
  // height: 100%;
}
