.urp-layout {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.urp-layout-row {
  flex-direction: row;
}

.urp-layout-head {
  width: 100%;
  height: var(--headHeight, 80px);
  border: 1px solid red;
}

.urp-layout-body {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.urp-layout-footer {
  width: 100%;
  height: 80px;
  border: 1px solid red;
}

.urp-layout-aside {
  width: var(--AsideWidth, 200px);
  height: 100%;
  border: 1px solid red;
}
