@import "../utils/styles/colors/color.less";

.u-typo-Description {
  font-size: 12px;
  color: var(--u-description-color);
}

.u-typo-text {
  font-size: 14px;
  color: var(--u-font-gray-1);
  line-height: 24px;
}

.u-typo-text-mark {
  color: var(--u-success-color);
  background-color: var(--u-success-color-light);
  padding: 0 8px;
  border-radius: 4px;
  margin: 0 2px;
  font-size: 12px;
  // font-weight: bold;
}