.urp-divider {
  display: flex;
  align-items: center;
}

.children-item {
  padding: 0 var(--space);
  font-size: 14px;
}

.urp-line {
  border: 1px solid var(--color);
}

.urp-line-layout-horizontal {
  flex: var(--flex);
}

.urp-line-dashed {
  border-style: dashed;
}

.urp-line-slope {
  transform: rotate(10deg);
}

.urp-line-layout-vertical {
  height: 15px;
}
