.urp-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urp-divider-with-children {
  display: flex;
  align-items: center;
}

.children-item {
  padding: 0 12px;
}

.urp-dashed {
  border-style: dashed;
}

.urp-line-layout-horizontal {
  flex: 1;
  border: 1px solid;
}

.urp-line-dashed {
  border-style: dashed;
}

.urp-line-layout-vertical {
  height: 20px;
  width: 1px;
  background-color: black;
}
