@import '../utils/styles/index.less';

@slope-deg: 10deg;

.u-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.u-divider-vertical {
  width: fit-content;
  flex: none;
  justify-content: flex-start;
}

.children-item {
  padding: 0 var(--space);
  font-size: 14px;
}

.u-line {
  border: .1px solid var(--color, var(--u-font-3));
}

.u-line-layout-horizontal {
  flex: var(--flex);
}

.u-line-dashed {
  border-style: dashed;
}

.u-line-slope {
  transform: rotate(@slope-deg);
}

.u-line-layout-vertical {
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
}
