@import '../utils/styles/colors/color.less';

input[type="radio"] {
  position: absolute; 
  opacity: 0; 
  width: 0;
  height: 0;
  /* 兼容旧浏览器 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.urp-check-box-item {
  display: inline-flex;
  user-select: none;
  align-items: center;
  cursor: pointer;
  &:hover {
    .urp-check-box-box {
      border-color: var(--urp-primary-color);
    }
  }
}

/* 选择框 */
.urp-check-box-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border: 1px solid;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border-color: var(--urp-font-gray-3);
  overflow: hidden;
  .urp-check-box-box-bg {
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
}

/* 单选框框体 */
.urp-check-box-box-radio {
  border-radius: 50%;
  .urp-check-box-box-bg {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

/* 多选框框体 */
.urp-check-box-box-multiple {
  border-radius: 2px;
  .urp-check-box-box-bg {
    width: 100%;
    height: 100%;
  }
}

.urp-check-box-box-isChecked {
  border-color: var(--urp-primary-color);
}

.urp-check-box-box-bg-isChecked {
  background-color: var(--urp-primary-color);
}

.urp-check-box-box-bg-unChecked {
  background-color: transparent;
  scale: 0;
  border-radius: 50%;
}

.urp-checkbox-label {
  font-size: 16px;
  color: var(--urp-font-gray-1);
  margin-left: 2px;
}

.urp-check-box-item-disabled {
   &:hover {
    .urp-check-box-box-isChecked {
      border-color: var(--urp-primary-color-disabled);
    }
    .urp-check-box-box-unChecked {
      border-color: var(--urp-font-gray-4);
      background-color: var(--urp-bg-gray-6);
    }
  }

  .urp-check-box-box-isChecked {
    border-color: var(--urp-primary-color-disabled);
  }
  .urp-check-box-box-bg-isChecked {
    background-color: var(--urp-primary-color-disabled);
  }

  .urp-check-box-box-unChecked {
    border-color: var(--urp-font-gray-4);
    background-color: var(--urp-bg-gray-6);
  }
}
