.u-color-picker-panel {
  width: 240px;
  padding: 8px;

  &-hsv-panel {
    position: relative;
    width: 100%;
    height: 160px;
    background: 
      linear-gradient(to bottom, transparent, #000),
      linear-gradient(to right, #fff, var(--hue));
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    
    &-indicator {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 20px;
      border: 2px solid white;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &-hue-slider {
    width: 180px;
    background: linear-gradient(
      to right,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%)
    );

    .u-slider-track {
      background-color: transparent;
    }

    .u-slider-button {
      transition: none;
      background-color: var(--hue);
      border-color: white;
    }
  }

  &-color-preview {
    width: 28px;
    height: 28px;
    background-color: var(--preview-color);
    border-radius: 2px;
  }

  &-r-input {
    .u-input-up-shape-rect {
      border-radius: 4px 0 0 4px;
    }
  }

  &-g-input {
    .u-input-up-shape-rect {
      border-radius: 0;
    }
  }

  &-b-input {
    .u-input-up-shape-rect {
      border-radius: 0 4px 4px 0;
    }
  }
}
