.u-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}

.u-table-th {
  border: 1px solid #e8e8e8;
  padding: 8px 16px;
  text-align: left;
  background-color: #fafafa;
}

.u-table-td {
  border: 1px solid #e8e8e8;
  padding: 8px 16px;
}