@import './colors/color.less';

button {
  border: none;
  background-color: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}