@import './colors/color.less';

button {
  border: none;
  background-color: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  cursor: text;
  /* 清除浏览器默认外观（部分类型生效） */
  -webkit-appearance: none; /* 针对webkit内核（Chrome/Safari） */
  -moz-appearance: none; /* 针对Firefox */
  appearance: none;
}

/* 处理数字输入框的上下箭头（number类型） */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* 部分浏览器需要额外清除margin */
}
/* Firefox的数字输入框箭头处理 */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 处理搜索框的默认清除按钮（search类型） */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}