@import "../utils/styles/colors/color.less";

.u-image {
  position: relative;
  width: 300px;
  height: 150px;
  background-color: var(--u-gray-color-2);
  overflow: hidden;
  &>img {
    object-fit: var(--objectFit);
    object-position: var(--objectPosition);
    width: 100%;
    height: 100%;
  }
}

.u-image-shape-rect {
  border-radius: 4px;
}

.u-image-shape-round {
  border-radius: 100vh;
}

.u-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--u-bg-gray-2);
  cursor: pointer;
}
