@import "../utils/styles/colors/color.less";

.u-tree {
  width: fit-content;
}

.u-tree-item {
  position: relative;
  display: flex;
  align-items: center;
  // border: 1px solid red;
  padding: 0 0 0 calc(var(--level) * 16px);
  color: var(--u-font-gray-1);
  cursor: pointer;
  user-select: none;
  .u-tree-icon-container {
    z-index: 10;  // 遮挡住线条
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    // border: 1px solid red;
    margin-right: 2px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--u-font-gray-3);
    .u-tree-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      color: inherit;
      transition: all .2s ease-in-out;
    }
    .u-tree-icon-open {
      color: var(--u-primary-color) !important;
      transform: rotate(90deg);
    }
  }
  .u-tree-icon-container-hasChildren {
    &:hover {
      background-color: var(--u-gray-color-1);
    }
  }

  .u-tree-label,
  .u-tree-label-active {
    flex: 1;
    font-size: 12px;
    transition: all .2s ease-in-out;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 2px 0;
    // border: 1px solid red;
  }

  .u-tree-label {
    &:hover {
      background-color: var(--u-gray-color-1);
    }
    &:active {
      background-color: var(--u-gray-color-3);
    }
  }

  .u-tree-label-active {
    background-color: var(--u-primary-color-light);
    color: var(--u-primary-color);
  }
}

.line {
  width: 1px;
  ::after {
    content: '';
    position: absolute;
    top: -50%;
    width: 8px;
    height: 26px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 26px;
    margin-left: -8px;
  }
}

.line-first-child {
  width: 1px;
  ::after {
    content: '';
    position: absolute;
    top: -12px;
    width: 8px;
    height: 25px; 
    border-left: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 26px;
    margin-left: -8px;
  }
}
