@import "../utils/styles/colors/color.less";

.u-slider {
  position: relative;
  display: flex;
  width: 200px;
  height: 5px;
  background-color: #f3f3f3;
  border-radius: 5px;
  cursor: pointer;
}

.u-slider-button-tooltip {
  position: absolute;
  top: -4.5px;  // 7-5 + 2.5
  transform: translate(-50%);
  .u-popup-content-inner {
    width: fit-content;
  }
}

.u-slider-button {
  border: 2px solid var(--u-primary-color);
  width: 14px;
  height: 14px;
  border-radius: 12px;
  background-color: white;
  transition: all .2s ease-in-out;
  &:hover {
    border-color: var(--u-primary-color-active);
    scale: 1.2;
  }
}

.u-slider-track {
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  border-radius: 5px;
  background-color: var(--u-primary-color);
}